#root {
  width: 100%;
  background-color: black;
}
#rootGlobe {
  fill: #0000FF;
}
.rootCountriesFeature {
  stroke: #fff;
  fill: #00FF00;
  stroke-width: 0.25px;
}
.rootFisheriesFeature {
  stroke: rgb(255, 0, 0);
  fill: rgba(255, 0, 0, 0.5);
  stroke-width: 0.25px;
}
